# Ignore bundler config.
/.bundle
# Ingnore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
# Ignore other unneeded files.
database.yml
doc/
¨.swp
*-
.project
.DS_Store
.idea
.secret