.header{
  list-style-type: none;
  font-weight: bold;
}
li.student_names, li.student_names a{
  text-decoration: none;
  /*    margin-top: 5px;*/
  color: black;
  width:100%;
  min-width:100%;
  display: block;
  padding: 2px 0 2px 0;
}
.student_list{
  list-style-type: none;
  clear : both;
  width: 200px;
  max-height: 400px;
  overflow-y: auto;
  font-size: 13px;
  padding: 0px;
  float: left;
}

.student_list a:hover{
  text-decoration: none;
  background-color:  #F1F6FF;
  width:100%;

}
.student_list a:active{
  text-decoration: none;
/*    font-weight: bold;*/
}
.active-link{
  font-weight: bold;
  color: #C00 !important;
}
.student-name{
  height: 28px;
}
#exam_wise_report{
  /*    float: left;*/
  margin-left:  230px;
}
.list_name{
  font-weight: bold;
}
table#listing td{
  font-size: 11px;
  font-weight: default;
}
table#listing tr.tr-head {
  color: #C00;
  font-size: 13px;
}
.student{
  font-weight: bold;
  text-align: left !important;
  margin-left: 10px;
}
.active-link{
  font-weight: bold;
  color: #C00 !important;
}
.student-name{
  height: 28px;
}
#score-table{
  background: #C3D9FF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 20px 20px;
}
table#listing{
  width: 600px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  padding: 0;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.custom_header{
  margin: 0 auto;
  padding: 5px;
  /*    text-align: center;*/
  background: #fff;
}

table#listing td.col-1 {
  padding:5px 5px 5px 10px;
  width:5%;
}
table#listing td.col-2 {
  padding:5px 5px 5px 10px;
  width:1%;
}
#report_table{
  margin-left: 230px;
}
#top_msg{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
#top_msg span{
  color: #C00;
}
#listing tr td{
  background: #FFFFFF ;
}
#report_table {
  width: 720px;
  float: left;
  margin: 2px;
  border: 24px solid #c3d9ff ;
  border-radius: 16px;
}
#student_list #{
  width: 200px;
  float: left;
}
#summary-head{
  margin-top: 57px;
  padding-left: 50px;
  color: #C00;
  display: block;
}
#graph{
margin-left: 200px;
}
