
/*#students {
    clear : both;
    height : 300px;
    margin : 20px auto;
    padding : 0px;
    width : 825px;
}
#student_name {
    float : left;
    padding : 10px 0px 10px 0;
    text-decoration : none;
    width : 204px;
}
#student_name a {
    color : #000;
    font-weight : bold;
    text-decoration : none;
}
#student_name a:hover {
    color : #9E0F15;
    text-decoration:underline;
}

.students-on-one-line {
    background : #fff url(../../images/student_details/ajax_result_underline.jpg) bottom left repeat-x;
    overflow: auto;
    width:816px;
    margin-bottom: 20px;
}*/
.label-field-pair-select-class {

}
.label-field-pair-select-class label {
   
}
#loader{

}


table{
   
}
#page-yield
{
 
}